*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
}

body{
				background-color: hsl(0,0%,95%);
				font-family: Lexend Deca;
				font-size: 15px;
				font-weight: 400;
}

.container{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 60%;
				margin: auto;
				height: 100vh;
			
}

.container div{
				width: 100%;
				padding: 2em;
				padding-left: 48px;
				padding-right: 68px;
}

.container div h1{
				font-family: 'Big Shoulders Display', sans-serif;
				font-size: 30px;
				font-weight: 700;
				color: hsl(0,0%,95%);
				padding-bottom: 30px;
}

.container div p {
				color: hsla(0,0%,100%,0.75);
				font-size: 15px;
				padding-bottom: 70px;
				width: 130px;
}

.left{
				background-color: hsl(31,77%,52%);
}

.middle{
				background-color: hsl(184,100%,22%);
} 

.right{
				background-color: hsl(179,100%,13%);
}

.button{
				background-color: hsl(0,0%,95%);
				border: none;
				border-radius: 60px;
				display: flex;
				width: 140px;
				padding: 15px 20px;
				margin-bottom: 15px;
				align-items: center;
				text-align: center;
				text-decoration: none;
				cursor: pointer;
}

#active1{
				color: hsl(31,77%,52%);
				text-align: center;
				align-items: center;
}

#active2{
				color: hsl(184,100%,22%);
				text-align: center;
				align-items: center;
}

#active3{
				color: hsl(179,100%,13%);
				text-align: center;
				align-items: center;
}

#active1:hover{
     background-color: hsl(31,77%,52%);
     color: hsla(0,0%,100%,0.75);
		  border: 3px solid  hsla(0,0%,100%,0.75);
				
}

#active2:hover{
     background-color: hsl(184,100%,22%);
     color: hsla(0,0%,100%,0.75);
		  border: 3px solid  hsla(0,0%,100%,0.75);
				
}

#active3:hover{
     background-color: hsl(179,100%,13%);
     color: hsla(0,0%,100%,0.75);
		  border: 3px solid  hsla(0,0%,100%,0.75);
				
}

img{
				height: 35px;
				width: 50px;
				margin-bottom: 30px;
				margin-top: 15px;
}

